table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
button {
  padding: 16px 20px;
  border-radius: 4px;
}
.opened {
  color: green;
  font-weight: bold;
}
.not-opened {
  color: red;
}
.text-href {
  text-decoration: none;
  color: black;
}
.box {
  margin: 16px;
  padding: 32px;
  border: 1px solid black;
  width: 600px;
  max-width:1200px;
  /* border-radius: 4px; */
  /* box-shadow: 8px 12px 1px 2px rgb(56, 51, 51); */
}